$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;

//Colors
$white-1: #ffffff;
$white-2: #F4F1EC;
$white-pink: #FAF8F5;
$grey: #d0d0d250;
$light-grey: #949494;
$black: #000;
$white-transparent: #FFFFFF80;
$dark-green: #9B9A78;
$red: #FA504D;
$light-red: #F38160;
$text-color-dark: #403C39;
$text-color-light: #8E8E8E;
$yellow: #F0B70D;
$dark-blue: #264065;
$light-blue: #A9D6CB;


