header {
    width: 100%;
    height: 100px;
    background-color: $white-pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 160px 0px 160px;
    background-image: linear-gradient(to right, $white-pink 0%, $white-pink 65%, $light-blue 65%);

    nav {
        position: relative;
        right: 30px;

        ul {
            list-style: none;
            display: flex;
            gap: 50px;

            li a {
                text-decoration: none;
                color: $dark-blue;

            }

            li:last-child {
                position: relative;
            }

            li:last-child a:after {
                position: absolute;
                content: url(../../img/icon-chevron-down.svg);
                top: 2px;
                left: 50px;
            }
        }
    }

    .shop {
        display: flex;
        gap: 50px;
        position: relative;
        align-items: center;
        left: 70px;
    }

    .sign {
        display: flex;
        align-items: center;
        gap: 32px;

        a:nth-of-type(1) {
            color: $dark-blue;
        }

        a:nth-of-type(2) {
            text-decoration: none;
            color: $white-1;
            padding: 16px 40px;
            border-radius: 32px;
            background-color: $dark-blue;
        }

    }
    
}
